/* BANNER 1 */
.banner1 {
  position: relative;
  width: 100%;
  /* height: 50%; */
  /* left: 4px; */
  /* top: 56px; */
  z-index: -1;
  padding: 4px;
  background: url(../project\ pics/base.png);
  background-size: 100vh;
  background-position-x: center;
  background-size: 200%;
  background-repeat: repeat;
  display: flex;
}
.banner1 img {
  margin-left: 20%;
}
.mstarsFD {
  /* Mstars FD */
  /* display: flex;
    flex-direction: column; */
  /* position: absolute; */
  width: 486px;
  height: 216px;
  margin-left: 7%;
  top: 70px;
  text-align: right;
}
h1 {
  /* MStars Food delivery */

  width: 384px;
  height: 120px;
  /* right: 209px; */
  /* top: calc(50% - 120px / 2 - 1388px); */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  margin-left: 100px;
  line-height: 90%;
  /* or 49px */

  display: flex;
  align-items: center;
  text-align: right;
  /* letter-spacing: 0.01em; */
  /* flex: end; */

  /* Primary */

  color: #f17228;
}
.mstarsFD p {
  /* Хосгүй амтыг хормын дотор хүргэж өгнө. */

  width: calc(384px * 100) / 1440px;
  height: 64px;
  /* right: 209px; */
  top: calc(50% - 64px / 2 - 1264px);

  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  /* or 26px */

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;

  color: #4d2000;
}
