footer {
  width: 1440px;
  height: 384px;
  background-color: orange;
}
ul {
  list-style-type: none;
}
/*  */
.info {
  display: flex;
}
.social {
  display: flex;
  flex-direction: column;
}
.social img {
  width: 20px;
  height: 23px;
}
