footer {
  /* width: 1440px; 
  height: 384px; */
  /* background-color: orange; */
  background-image: url(../project\ pics/footer/base.png);
  padding-left: 120px;
  padding-right: 120px;
  color: white;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#footerTitle {
  position: static;
  /* width: 1px; */
  height: 30px;
  left: 5px;
  top: 5px;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  /* Primary */

  color: white;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
ul {
  list-style-type: none;
}
/* ^^^ */
.info {
  display: flex;
  margin-bottom: 120px;
  padding-top: 20px;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 40px;
}
.info a {
  margin: 15px;
  color: white;
}
.social {
  display: flex;
  flex-direction: column;
}
.social img {
  width: 20px;
  height: 23px;
  margin-left: 5px;
}
.last {
  display: flex;
  margin-left: 30%;
}
.last a {
  margin: 15px;
  color: white;
}
.copyright {
  text-align: right;
  margin-left: 90px;
  width: 236px;
}
.bottom {
  display: flex;
}
.img {
  margin-top: 10px;
  padding-left: 10px;
}

/* 