/* HEADER */
header {
  position: sticky;
  width: 100%;
  height: 56px;
  left: 1px;
  top: -0.4px;
  display: flex;
  background-color: white;
  /* background: black; */
  box-shadow: 0px 2px 4px rgba(241, 114, 40, 0.05);
  z-index: 100;
}
/* TITLE / LOGO (FOOD DELIVERY) */
.title {
  /* logo */

  position: relative;
  width: 180px;
  height: 40px;
  /* left: 5%; */
  top: 8px;
  display: flex;
}
.title h2 {
  position: static;
  width: 126px;
  height: 30px;
  left: 5px;
  top: 5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  /* Primary */

  color: #f17228;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
/* NAVIGATION MENU */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*  padding: 8px 4px; */

  position: relative;
  height: 40px;
  width: 384px;
  left: 1%;
  /* top: 8px; */
  border-radius: 0px;

  list-style-type: none;
}
#home {
  position: static;
  width: 43px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #f17228;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#foodList {
  /* ХООЛНЫ ЦЭС */

  position: static;
  width: 110px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Gray 1 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#deliveryZone {
  /* ХҮРГЭЛТИЙН БҮС */

  position: static;
  width: 148px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Gray 1 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
/* SEARCH BAR */
.searchBar {
  /* search */

  position: relative;

  background: rgba(255, 255, 255, 0.5);

  width: 235px;
  height: 32px;
  left: 20%;
  top: 12px;
  /* warm.orange */

  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 10px;
}
/* LOGIN / BASKET */
.loginBasket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 180px;
  /* height: 32px; */
  left: 50%;
  list-style-type: none;
}
.loginBasket li {
  margin-left: auto;
  height: 16px;
  width: 37px;
  left: 29.5px;
  top: 0;

  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* letter-spacing: 0em; */
  text-align: center;
}

/* HEADER END DUUSNA */
