/* HEADER */
header {
  /* position: sticky; */
  width: 100%;
  height: 56px;
  /* left: 1px; */
  /* top: -0.4px; */
  display: flex;
  background-color: white;
  /* background: black; */
  box-shadow: 0px 2px 4px rgba(241, 114, 40, 0.05);
  z-index: 100;
  max-width: 1440px;
  margin: auto;
}
/* TITLE / LOGO (FOOD DELIVERY) */
.title {
  /* logo */
  color: #f17228;
  /* margin-left: 120px; */
  margin-top: 6px;
  /* width: 100vw; */

  position: relative;
  /* width: 180px; */
  height: 40px;
  /* left: 5%; */
  /* top: 8px; */
  display: flex;
}
#Title {
  margin-top: 13px;
  margin-left: 1%;
  /* width: 100vw; */

  font-family: "Poppins";
  /* font-style: normal; */
  /* font-weight: 700; */
  font-size: 18px;
  /* line-height: 27px; */
  text-align: center;
  /* padding-bottom: 50px; */
  color: #f17228;
}
/* NAVIGATION MENU */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*  padding: 8px 4px; */

  position: relative;
  height: 40px;
  width: 384px;
  /* left: 1%; */
  /* top: 8px; */
  border-radius: 0px;

  list-style-type: none;
}
#home {
  /* position: static; */
  width: 43px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #f17228;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#foodList {
  /* ХООЛНЫ ЦЭС */

  position: static;
  width: 110px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Gray 1 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#deliveryZone {
  /* ХҮРГЭЛТИЙН БҮС */

  position: static;
  width: 148px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Gray 1 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
/* SEARCH BAR */
/* .searchBar {
  background-image: url(../project_pics/header/header/.png);
  background-repeat: no-repeat;
  background-position: left;
  text-align: left;
} */
.searchBar input {
  /* search */
  padding-left: 25px;
  background: url(../project_pics/header/header/.png);
  /* no-repeat left; */
  background-size: 20px;

  position: relative;

  background: rgba(255, 255, 255, 0.5);

  width: 17vh;
  height: 32px;
  margin-top: 12px;
  /* left: 15%;
  top: 12px; */
  /* warm.orange */
  /* margin-right: 120px; */
  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 10px;
}
/* .searchBar input::after {
  background-image: url(../project_pics/header/header/.png);
} */
/* LOGIN / BASKET */
.loginBasket {
  display: flex;
  flex-direction: row;
  text-align: right;
  position: relative;
  width: 180px;
  /* height: 32px; */
  /* left: 50%; */
  list-style-type: none;
  /* right: 10%; */
  margin-left: 40%;
}
.loginBasket li {
  margin-left: auto;
  height: 16px;
  width: 37px;
  left: 29.5px;
  top: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 50px;
  /* Primary */

  color: #f17228;
}
.loginBasket img {
  margin-right: 4px;
}

/* HEADER END DUUSNA */
/* @media (max-width: 1200px) {
  .searchBar {
    
    background-image: url(../project_pics/);
    width: 200vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 1vh;
    padding-bottom: 1vh;

    
  }
  .searchBar input {
    display: none;
  }
} */
