body {
  background: #fdfdfd;
}
main {
  background: linear-gradient(
    179.24deg,
    #f17228 -90.18%,
    rgba(255, 255, 255, 0) 9.19%
  );
}

/* FEATURES */
.features {
  /* features */

  position: relative;
  width: 100%;
  height: 20%;
  margin: auto;

  padding-top: 5%;
}
.featuresList {
  /* Features */
  height: 10vh;

  border-radius: 30px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: relative;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}
.featuresList li {
  display: flex;
  flex-direction: row;
  line-height: 0px;
  margin-left: auto;
  margin-right: auto;
}
.featuresList li h3 {
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;

  letter-spacing: 0em;
  text-align: left;
}
.featuresList li img {
  width: 50px;
  height: 50px;
  left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .featuresList {
    width: 100%;
    margin: auto;

    /* height: 30vh; */
  }
  .featuresList li {
    margin: auto;
    text-align: left;
  }
}
@media (max-width: 770px) {
  main {
    min-width: 750px;
  }
  .featuresList li img {
    text-align: left;
  }
  .featuresList {
    width: 150vw;
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: 0%;
    padding: 0;
    /* text-align: left; */
    /* background-color: black; */
  }
  .featuresList li {
    /* margin: auto; */
    margin-left: 0%;
    margin-right: 0%;
    /* align-items: baseline; */
    display: flex;
    flex-direction: column;
  }
}
