.main {
  height: 1024px;
}
.userProfile {
  position: relative;
  width: 384px;
  height: 440px;
  margin: auto;
}
.userTitle {
  /* line */

  position: relative;
  width: 9px;
  height: 32px;
  left: 0px;
  top: 0px;

  /* Primary */

  background: #f17228;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.userTitle h2 {
  position: relative;
  margin-left: 15px;
  padding-top: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  width: 200px;
  /* or 25px */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
