body {
  width: 1440px;
}
/* HEADER */
header {
  position: absolute;
  width: 1440px;
  height: 56px;
  left: 1px;
  top: -0.4px;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(241, 114, 40, 0.05);
}
/* TITLE / LOGO (FOOD DELIVERY) */
.title {
  /* logo */

  position: absolute;
  width: 180px;
  height: 40px;
  left: 120px;
  top: 8px;
  display: flex;
}
.title h2 {
  position: static;
  width: 126px;
  height: 30px;
  left: 5px;
  top: 5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  /* Primary */

  color: #f17228;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
/* NAVIGATION MENU */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 4px;

  position: absolute;
  height: 40px;
  width: 384px;
  left: 426px;
  top: 8px;
  border-radius: 0px;
  padding: 8px, 4px, 8px, 4px;

  list-style-type: none;
}
#home {
  position: static;
  width: 43px;
  height: 24px;
  left: 0px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #f17228;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#foodList {
  /* ХООЛНЫ ЦЭС */

  position: static;
  width: 107px;
  height: 24px;
  left: 3px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Gray 1 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#deliveryZone {
  /* ХҮРГЭЛТИЙН БҮС */

  position: static;
  width: 136px;
  height: 24px;
  left: 0px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Gray 1 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
/* SEARCH BAR */
.searchBar {
  /* search */

  position: absolute;
  left: 61.25%;
  right: 22.43%;
  top: 21.43%;
  bottom: 21.43%;

  background: rgba(255, 255, 255, 0.5);

  width: 235px;
  height: 32px;
  left: 882px;
  top: 12px;
  /* warm.orange */

  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 10px;
}
/* LOGIN / BASKET */
.loginBasket {
  /* login n busket */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 3px;

  position: absolute;
  width: 180px;
  height: 32px;
  left: 1140px;
  top: 12px;
  list-style-type: none;
}
/* BANNER 1 */
.banner1 {
  position: absolute;
  width: 1440px;
  height: 496px;
  left: 4px;
  top: 56px;
  z-index: -1;

  background: url(.jpg),
    linear-gradient(
      95.09deg,
      #f17228 -16.99%,
      #f2994a -8.09%,
      rgba(255, 255, 255, 0) 77.99%
    );
}
h1 {
  /* Mstars FD */

  position: absolute;
  width: 486px;
  height: 216px;
  left: 847px;
  top: 152px;
}
.mstarsFD p {
  /* Хосгүй амтыг хормын дотор хүргэж өгнө. */

  position: absolute;
  width: 384px;
  height: 64px;
  right: 209px;
  top: calc(50% - 64px / 2 - 1264px);

  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;

  color: #4d2000;
}
